.Rproj.user
.Rhistory
.RData
.Ruserdata

decks/cover.psd

input/r2d2-w06-clinics.csv

input/r2d2-w06-districts.csv

input/r2d2-w06-r1.csv

input/r2d2-w06-r2.csv

input/r2d2-w04.csv
products/manuscript/draft_files/figure-docx/myFigure-1.png

products/manuscript/draft_files/figure-latex/myFigure-1.png

products/manuscript/bibliography.bib

products/manuscript/draft_files/figure-latex/unnamed-chunk-2-1.png

decks/w10_deck_files/figure-revealjs/myFigure-1.png

decks/w10_deck_files/figure-revealjs/pressure-1.png

decks/w10_deck_cache/revealjs/__packages

decks/w10_deck_cache/revealjs/cars_cc130b7c5e8cfa4a34682df8b2f059ff.RData

decks/w10_deck_cache/revealjs/cars_cc130b7c5e8cfa4a34682df8b2f059ff.rdb

decks/w10_deck_cache/revealjs/cars_cc130b7c5e8cfa4a34682df8b2f059ff.rdx
